/.idea/workspace.xml
/.idea/runConfigurations
/datastore/config.json
/datastore/scenes.json
/tests/logs/
crossplatform_modules/rpi/
crossplatform_modules/windows/
/datastore/schedule/
/datastore/object_logs/
/enocean_db/
version.txt
