/.idea/workspace.xml
/.idea/runConfigurations
/datastore/config.json
/datastore/scenes.json
/tests/logs/
crossplatform_modules/rpi/
crossplatform_modules/windows/
/datastore/schedule/daily.json
/datastore/schedule/onetime.json
/datastore/schedule/weekly.json
