<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config</title>
    <script src="javascripts/wNumb.js"></script>
    <script src="javascripts/nouislider.min.js"></script>
    <script src="bsmaster/assets/js/jquery-2.1.0.min.js"></script>
    <script src="bsmaster/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="bsmaster/assets/js/bootstrap.min.js"></script>
    <!-- page scripts -->
    <script src="bsmaster/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="bsmaster/assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- theme scripts -->
    <script src="bsmaster/assets/js/custom.min.js"></script>
    <script src="bsmaster/assets/js/core.min.js"></script>
    <script src="bsmaster/assets/js/raphael.min.js"></script>
    <script src="bsmaster/assets/js/justgage.1.0.1.min.js"></script>
    <script src="bsmaster/assets/js/jquery.noty.min.js"></script>
    <script src="javascripts/nodecontrol.js"></script>
    <script src="javascripts/bootstrap-toggle.js"></script>

    <link href="stylesheets/bootstrap-toggle.css" rel="stylesheet">
    <link href="bsmaster/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="bsmaster/assets/css/style.min.css" rel="stylesheet">
    <link href="bsmaster/assets/css/retina.min.css" rel="stylesheet">
    <link href="stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="javascripts/configuration.js"></script>
    <script src="javascripts/jquery.steps.js"></script>
    <link href="stylesheets/jquery.steps.css" rel="stylesheet">
    <!--script src="javascripts/client_rest.js"></script-->
    <script src="javascripts/crud_config.js"></script>



    <style>

        .row_7_holder {
            width: 90%;
        }
        .row_7part1 {
            width: 15%;
            display: inline-block;
        }
        .row_7part2 {
            width: 10%;
            display: inline-block;
        }
        .row_7part3 {
            width: 10%;
            display: inline-block;
        }
        .row_7part4 {
            width: 10%;
            display: inline-block;
        }
        .row_7part5 {
            width: 10%;
            display: inline-block;
        }
        .row_7part6 {
            width: 5%;
            display: inline-block;
        }
        .row_7part7 {
            width: 5%;
            display: inline-block;
        }

        .row_7gap {
            width: 5%;
            display: inline-block;
        }





        .aa_holder {
            width: 100%;

        }
        .aa_part1 {
            width: 20%;
            display: inline-block;

        }
        .aa_part2 {
            width: 20%;
            display: inline-block;

        }

        .aa_part3 {
            width: 20%;
            display: inline-block;

        }
        .aa_part4 {
            width: 20%;
            display: inline-block;

        }

        .ina_holder {
            width: 100%;

        }
        .ina_part1 {
            width: 20%;
            display: inline-block;

        }
        .ina_part2 {
            width: 20%;
            display: inline-block;

        }

        .ina_part3 {
            width: 20%;
            display: inline-block;

        }
        .ina_part4 {
            width: 20%;
            display: inline-block;

        }
    </style>

</head>


<body onload="init()">

<form id="myForm">

    <ul class="nav nav-tabs" >
        <li ><a href="status" >Status</a></li>
        <li class="active"><a href="config" >Configuration</a></li>
        <li><a href="override_scene" >Override/Scene Edit</a></li>
        <li><a href="schedule" >Schedule</a></li>
        <li><a href="groups" >Groups</a></li>
        <li><a href="scenelist" >Scene Lists</a></li>
        <li style="float: right;">
            <div >
                <a href="/status">
                    <img src="/images/RVLT_LOGO.png" style="width:180px;height:40px;">
                </a>
            </div>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <p>
            <div id="wizard" class="col-sm-11">


                <div class="col-lg-5">
                    <div class="box">
                        <div class="box-header" data-original-title>
                            <h2><i class="fa fa-user"></i><span class="break"></span>RPDG PWM OUTPUT TOGGLE TEST</h2>
                            <div class="box-icon">
                                <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="pwmoutputtoggletablediv" class = "tg">
                                <table id="pwmoutputtoggletable" class="table table-striped table-bordered "></table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="box">
                        <div class="box-header" data-original-title>
                            <h2><i class="fa fa-user"></i><span class="break"></span>RPDG PLC OUTPUT TOGGLE TEST</h2>
                            <div class="box-icon">
                                <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <div id="plcoutputtoggletablediv" class = "tg">
                                <table id="plcoutputtoggletable" class="table table-striped table-bordered "></table>
                            </div>

                        </div>
                    </div>
                </div>







                <div class="col-lg-10">
                    <div class="box">
                        <div class="box-header" data-original-title>
                            <h2><i class="fa fa-user"></i><span class="break"></span>Output Devices</h2>
                            <div class="box-icon">
                                <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="box-content">

                            <div id="fixturetablediv" class = "tg"></div>
                            <table id="fixturetable" class="table table-striped table-bordered "></table>
                            <br>
                            <br>


                            <div id="fixotpsrow1" class="row_7_holder">

                                <div id="fixopts1_1" class="row_7part1">
                                    <label>Name: </label><input id="fixturename" type="text" />
                                </div>

                                <div id="fixopts1_2" class="row_7part2">
                                    <label>Type: </label>
                                    <select id="fixturetype" class="btn btn-large btn-primary" onchange="updateAvalibleStartingOutputNumbers()">
                                        <option value="on_off">ON/OFF</option>
                                        <option value="cct">CCT</option>
                                        <option value="rgbw">RGBW</option>
                                        <option value="dim">DIMMABLE</option>
                                    </select>
                                </div>

                                <div id="fixopts1_3" class="row_7part3">
                                    <label> Interface</label>
                                    <select id="interface" class="btn btn-large btn-primary">
                                        <option value="rpdg-pwm">RPDG-PWM</option>
                                        <option value="rpdg-plc">RPDG-PLC</option>
                                        <option value="enocean">Enocean</option>
                                        <option value="synapse">Synapse</option>
                                    </select>
                                </div>

                                <div id="fixopts1_4" class="row_7part4">
                                    <label> Starting Output Number</label>
                                    <select id="starting_output" class="btn btn-large btn-primary">
                                    </select>

                                </div>

                                <div id="fixopts1_5" class="row_7part5">
                                    <label>Candle Dim</label>
                                    <input type="checkbox"  id="candledim"  >
                                </div>

                                <div id="fixopts1_6" class="row_7part6">
                                    <label>Min: </label><input id="minctemp" type="text" />
                                </div>
                                <div id="gap" class="row_7gap"></div>

                                <div id="fixopts1_7" class="row_7part7">
                                    <label>Max: </label><input id="maxctemp" type="text" />
                                </div>
                            </div>

                            <br>
                            <div id="inputsheader">
                                <label>Bound Inputs</label>
                            </div>
                            <br>
                            <div id="boundinputs">

                            </div>
                            <br>

                            <div id="fixtureparamstable" class = "tg"></div>

                            <input type="button" id = "btsavefixture" class="btn btn-large btn-success" onclick=saveNewFixture() value="SAVE FIXURE"/>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="inputconfigheader" class="col-sm-11">


        <div class="col-lg-10">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="fa fa-user"></i><span class="break"></span>Wet & Dry Contact Inputs</h2>
                    <div class="box-icon">
                        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div id="wetdrycontactdiv" class = "tg"></div>
                    <table id="wetdrycontacttable" class="table table-striped table-bordered "></table>
                    <br>
                    <br>

                    <label>Name: </label><input id="contactname" type="text" />
                    &nbsp;
                    &nbsp;<label> Interface</label>
                    <select id="contactinputinterface" class="btn btn-large btn-primary">
                        <option value="rpdg">RPDG</option>
                        <option value="enocean">Enocean</option>
                        <!--option value="synapse">Synapse</option-->
                    </select>

                    <label>Input Number: </label>
                    <select id="contact_inputnum" class="btn btn-large btn-primary">
                    </select>

                    <label>Type: </label>
                    <input type="radio" name="contacttype" value="momentary" checked="true" onclick="enableDisableInputActionDropDowns()" >Momentary
                    <input type="radio" name="contacttype" value="maintained" onclick="enableDisableInputActionDropDowns()" >Maintained

                    <br>
                    <br>
                    <div id = "active_action_div" class = "aa_holder" >

                        <div id = "aa_part1" class = "aa_part1" >
                            <label> On Active Edge Do</label>
                            <select id="active_action_sel_part1" class="btn btn-large btn-primary" onchange="on_aa_part1_change()">
                                <option value="action_none">No Action</option>
                                <option value="action_message">Send Message</option>
                                <option value="action_scene">Invoke Scene</option>
                                <option value="action_scene_list">Walk Scene List</option>
                            </select>
                        </div>
                        &nbsp;
                        &nbsp;<div id = "aa_part2" class = "aa_part2" >
                        <label id="active_action_label_part_2" for="active_action_sel_part2"> Message: </label>
                        <select id="active_action_sel_part2" class="btn btn-large btn-primary" onchange="on_aa_part2_change()"></select>
                    </div>

                        <div id = "aa_part3" class="aa_part3">
                            <label id="active_action_label_part_3" for="active_action_sel_part3"> Destination: </label>
                            <select id="active_action_sel_part3" class="btn btn-large btn-primary"></select>
                        </div>

                        <div id = "aa_part4" class="aa_part4">
                            <label id="active_action_label_part_4" for="active_action_sel_part4"> Delay(min): </label>
                            <select id="active_action_sel_part4" class="btn btn-large btn-primary">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </div>

                    </div>
                    <br>
                    <div id = "inactive_action_div" class = "ina_holder" >

                        <div id = "ina_part1" class = "ina_part1" >
                            <label> On InActive Edge Do</label>
                            <select id="inactive_action_sel_part1" class="btn btn-large btn-primary" onchange="on_inactive_part1_change()">
                                <option value="action_none">No Action</option>
                                <option value="action_message">Send Message</option>
                                <option value="action_scene">Invoke Scene</option>
                                <option value="action_scene_list">Walk Scene List</option>
                            </select>
                        </div>
                        &nbsp;
                        &nbsp;<div id = "ina_part2" class = "ina_part2" >
                        <label id="inactive_action_label_part_2" for="inactive_action_sel_part2"> Message: </label>
                        <select id="inactive_action_sel_part2" class="btn btn-large btn-primary" onchange="on_ina_part2_change()"></select>
                    </div>

                        <div id = "ina_part3" class="ina_part3">
                            <label id="inactive_action_label_part_3" for="inactive_action_sel_part3"> Destination: </label>
                            <select id="inactive_action_sel_part3" class="btn btn-large btn-primary"></select>
                        </div>

                        <div id = "ina_part4" class="ina_part4">
                            <label id="inactive_action_label_part_4" for="inactive_action_sel_part4"> Delay(min): </label>
                            <select id="inactive_action_sel_part4" class="btn btn-large btn-primary" >
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </div>

                    </div>



                    <br>
                    <br>
                    <input type="button" id = "btsaveinputcontactobj" class="btn btn-large btn-success" onclick=saveNewContactInputObj() value="Save Contact Configuration"/>

                </div>
            </div>
        </div>


        <div class="col-lg-10">
            <div class="box">
                <div class="box-header" data-original-title>
                    <h2><i class="fa fa-user"></i><span class="break"></span>Level Inputs</h2>
                    <div class="box-icon">
                        <a href="table.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <div id="levelinputdiv" class = "tg"></div>
                    <table id = "levelinputstable"  border=2 class="table table-striped table-bordered "></table>

                    <label>Name: </label><input id="levelinputname" type="text" />
                    &nbsp;
                    <label>Type: </label>
                    <select id="levelinputtype" class="btn btn-large btn-primary">
                        <option value="dimmer">Dimmer</option>
                        <option value="daylight">DayLight Sensor</option>
                    </select>

                    <label> Interface</label>
                    <select id="levelinputinterface" class="btn btn-large btn-primary">
                        <option value="rpdg">RPDG</option>
                        <option value="enocean">Enocean</option>
                        <!--option value="synapse">Synapse</option-->
                    </select>

                    <label> Input Number</label>
                    <select id="levelinput_inputs" class="btn btn-large btn-primary">
                    </select>


                    <label>Active Drive Level</label>
                    <select id="levelinput_drive" class="btn btn-large btn-primary">
                        <option value="0">0</option>
                        <option value=".25">.25</option>
                        <option value=".50">.50</option>
                        <option value=".75">.75</option>
                        <option value=".85">.85</option>
                        <option value=".90">.90</option>
                        <option value=".95">.95</option>
                        <option value="1">1</option>
                        <option value="1.1">1.1</option>
                        <option value="1.2">1.2</option>
                        <option value="1.25">1.25</option>
                        <option value="1.3">1.3</option>
                        <option value="1.4">1.4</option>
                        <option value="1.5">1.5</option>
                        <option value="1.6">1.6</option>
                        <option value="1.7">1.7</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="3.5">3.5</option>
                        <option value="4">4</option>
                        <option value="4.5">4.5</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="16">16</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                    </select>

                    <br>
                    <br>
                    <input type="button" id = "btsavelevelinput" class="btn btn-large btn-success" onclick=saveNewLevelInput() value="Save Input"/>

                </div>
            </div>
        </div>
        </p>
    </div>
    </div>
</form>
</body>
</html>