<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example API page</title>
</head>


<label>api:  /setfixturelevel</label>

<pre>
    {
        "requesttype": "override",
        "uid": "192_168_1_100_1",
        "dim": {
        "levelpct": "50"
        }
    }


     override
            network
           wallstation
          daylight
         occupancy
           vacancy
           schedule
            wetdrycontact
            zero2teninput

</pre>



<label>api:  /setfixturelevel</label>

<pre>
    {
        "requesttype": "override",
        "uid": "192_168_1_100_1",
        "dim": {
        "levelpct": "50"
        }
    }

</pre>


<body>

</body>
</html>