<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Landing Page</title>
    <link href="bsmaster/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="bsmaster/assets/css/style.min.css" rel="stylesheet">
    <link href="bsmaster/assets/css/retina.min.css" rel="stylesheet">
    <link href="stylesheets/nouislider.min.css" rel="stylesheet">


    <script type="text/javascript">
        // Global Varaibles

        $(function(){
            $("#titlebar").load("customtitlebar.html");
        });
        </script>
</head>

<body>
<div id="titlebar"></div>

<div id="content" class="col-sm-11">
    <div class="col-lg-12">

        <div class="box">
            <div class="box-header" data-original-title>
                <h2>
                    <i class="fa fa-user"></i><span class="break"></span>Main Options
                </h2>
            </div>
            <div class="box-content">
                <input type="button" class="btn btn-large btn-primary" onclick="startLightFilterTest();" value="Light Fiter Test" />


            </div>
        </div>

    </div>
</div>
<script src="javascripts/test.js"></script>
<script src="javascripts/wNumb.js"></script>
<script src="javascripts/nouislider.min.js"></script>
<script src="bsmaster/assets/js/jquery-2.1.0.min.js"></script>
<script src="bsmaster/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script src="bsmaster/assets/js/bootstrap.min.js"></script>
<!-- page scripts -->
<script src="bsmaster/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="bsmaster/assets/js/jquery.ui.touch-punch.min.js"></script>
<!-- theme scripts -->
<script src="bsmaster/assets/js/custom.min.js"></script>
<script src="bsmaster/assets/js/core.min.js"></script>
<script src="bsmaster/assets/js/raphael.min.js"></script>
<script src="bsmaster/assets/js/justgage.1.0.1.min.js"></script>
<script src="bsmaster/assets/js/jquery.noty.min.js"></script>
<script src="javascripts/nodecontrol.js"></script>

</body>
</html>