<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

	
		
		
		
		
		
		
		
	
<div style="background-color:#000000">
		<div>
			<img src="../public/images/rvlt_logo.png" alt="Revolution Lighting Logo">
			<button>Lobby 101 ↓</button>
			<div>
				<ul>
					<li>Lobby 101</li>
					<li>1st Floor Corridors</li>
					<li>2nd Floor Corridors</li>
					<li>Cafeteria</li>
				</ul>
			</div>
		</div>

	<div>
		<button>Scene 1</button>
		<button>Scene 2</button>
		<button>Scene 3</button>
		<button>Scene 4</button>
		<button>Scene 5</button>
		<button>Off</button>
	</div>
	
	<div>
		<ul>
			<li>
				Scenes
			</li>
			<li>
				Zones
			</li>
			<li>
				Energy Usage
			</li>
		</ul>
	</div>
</div>
</body></html>