.rgbw_wheel {
    display: inline-block;
    margin-left: 0px;
    vertical-align: top;
    width: 300px;
    float: left;
    /*   background-color: green;  */
    height: 100%;
}

.rgbw_right {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
    width: 180px;
    float: left;
    /*  background-color: lightblue;  */
    height: 100%;

}




.vert_brightness_grad {
    margin-left: 40px;
    float: left;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to top, black, white);
    width: 20px;
    height: 250px;
}

.vert_brightness_grad_warm {
    float: left;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to top, black, #ffad33);
    width: 20px;
    height: 250px;
}

.vert_brightness_grad_cool {
    margin-left: 30px;
    float: left;
    display: inline-block;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to top, black, #99ceff);
    width: 20px;
    height: 250px;
}

.guage_value {
    position: relative;
    background-color: red;
    width: 100%;
    height: 30px;
    padding-top: 0px;
}

.vert_guage_holder {
    position: relative;
    /*  background-color: blue;  */
    width: 100%;
    height: 250px;
    padding-top: 0px;
}



.custom_slider_fill {
    background: #ff00ff;
    position: absolute;
}

.custom_slider_range {
    background: #00750000;
    position: relative;
}


.custom_rangeslider_vertical {
    width: 20px;
    min-height: 250px;
    max-height: 100%;
}
.custom_rangeslider_vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
}
.custom_rangeslider_vertical .rangeslider__handle {
    left: -10px;
    touch-action: pan-x;
    -ms-touch-action: pan-x;
}